<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="container flex flex-col item-center w-94 mx-5">
    <table class="w-full">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}" class="text-center">
            <td th:text="${user.id}">230</td>
            <td th:text="${user.name}">Hong</td>
        </tr>
        </tbody>
    </table>

    <hr/>

    <form action="/users/add" method="post" class="border p-3 text-center mt-3">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="Hong" placeholder="한글 " class="border rounded-md px-2">
        <button type="submit" class="border rounded-md px-2 hover:bg-slate-500 hover:text-white">regist</button>
    </form>
</div>
</body>
</html>
