@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  input.inp {
    @apply w-full rounded-md border px-2 py-1 focus:border-blue-500 focus:outline-none focus:ring-0;
  }
  a {
    font-weight: 500;
    color: theme('colors.blue.400');
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
